{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Planting {{ planting['id'] }}{% endblock %}</h1>
<ul>
  <li><a href={{ url_for('bed.view', id=planting['bed_id']) }}>View parent bed</a></li>
</ul>
{% endblock %}

{% block content %}
<object type="image/svg+xml" data="/static/planting.svg?xxx={{ range(1, 10000) }}"></object>

<div>
  id = {{ planting['id'] }}<br>
  top_left_x = {{ planting['top_left_x'] }}<br>
  top_left_y = {{ planting['top_left_y'] }}<br>
</div>
<a href="{{ url_for('planting.update', bed_id=planting['bed_id'], planting_id=planting['id']) }}">Update</a>
<form action="{{ url_for('planting.delete', id=planting['id']) }}" method="post">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>

{% endblock %}
