{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Beds{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for bed in beds %}
<article class="bed">
  <header>
    <div>
      id = {{ bed['id'] }},
      top_left = {{ bed['top_left'] }},
      x_length = {{ bed['x_length'] }},
      y_length = {{ bed['y_length'] }},
      <a href="{{ url_for('bed.update', id=bed['id']) }}">Update</a>,
      <form action="{{ url_for('bed.delete', id=bed['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
    </div>
  </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor%}
{% endblock %}
