{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ bed['id'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="top_left">Top left</label>
  <input name="top_left" id="top_left" value="{{ bed['top_left'] }}" required>
  <br>
  <label for="x_length">x length</label>
  <input name="x_length" id="x_length" value="{{ bed['x_length'] }}" required>
  <br>
  <label for="y_length">y length</label>
  <input name="y_length" id="y_length" value="{{ bed['y_length'] }}" required>
  <br>
  <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('bed.delete', id=bed['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
