{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Bed {{ bed['id'] }}{% endblock %}</h1>
{% endblock %}



{% block content %}

<object type="image/svg+xml" data="/static/bed.svg?xxx={{ range(1, 10000)|random }}"></object>

<div>
      id = {{ bed['id'] }}<br>
      top_left_x = {{ bed['top_left_x'] }}<br>
      top_left_y = {{ bed['top_left_y'] }}<br>
      x_length = {{ bed['x_length'] }}<br>
      y_length = {{ bed['y_length'] }}<br>
      <a href="{{ url_for('bed.update', id=bed['id']) }}">Update</a><br>
      <form action="{{ url_for('bed.delete', id=bed['id']) }}" method="post">
	<input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
</div>
<h2>Plantings</h2>
{% for planting in plantings %}
<article class="planting">
  <div>
    id = {{ planting['id'] }}<br>
    top_left_x = {{ planting['top_left_x'] }}<br>
    top_left_y = {{ planting['top_left_y'] }}<br>
    x_length = {{ planting['x_length'] }}<br>
    y_length = {{ planting['y_length'] }}<br>
    plant_type = {{ planting['plant_type'] }}<br>
    date_planted = {{ planting['date_planted'] }}<br>
    date_harvested = {{ planting['date_harvested'] }}<br>
    <form action="{{ url_for('planting.delete', id=planting['id']) }}" method="post">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    <br>
  </div>
</article>
{% endfor %}
<hr>
<a href="{{ url_for('planting.create', bed_id=bed['id']) }}">Create a planting</a>
{% endblock %}
